.advantages {
  background-color: @nav-color;
  color: @title-color;
}

.advantages__list {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.advantages__item {
  line-height: 21px;

  &--brief {
    background-color: @brief-menu-color;
    padding-top: 33px;
    padding-bottom: 32px;

    h3 {
      color: @subtitle-color;
    }

    p {
      color: @regular-text;
    }
  }
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  color: @title-color;
}

.advantages__description {
  color: @title-color;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &--brief {
      width: calc(100%/3);
      box-sizing: border-box;
      text-align: center;
      flex-direction: column;
    }
  }

  .advantages__item-text {
    width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    //padding: 47px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .advantages__item-box{
    width: 100%;
    display: flex;
  }

  .advantages__item-box_reverse{
    .advantages__item-text{
      order: 2;
    }

    .advantages__image{
      order: 1;
    }
  }

  .advantages__image-box {
    width: calc(100%*2/3);
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item-text {
    width: 33.333%;
  }

  .advantages__item-text:nth-last-of-type {
    order: 2;
  }

  .advantages__image:nth-last-of-type {
    order: 1;
  }

  .advantages__item:nth-child(2) {
    width: 100%;
  }

  .advantages__item-box_reverse{
    .advantages__item-text{
      order: 2;
    }

    .advantages__image{
      order: 1;
    }
  }
}
