.find-hotel {
}
.find-hotel__button {
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 49px;
  padding: 17px 47px 19px 47px;
  user-select: none;
  color: @title-color;
  background-color: @nav-color;
  text-transform: uppercase;
  border: none;
  line-height: 26px;
}

.find-hotel__item {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.find-hotel__description{
  font-size: 14px;
  line-height: 24px;
}
