.intro {
  padding: 43px 33px 10px 32px;

  &__description {
  font-size: 14px;
  }

  &__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: normal;
  padding-bottom: 40px;
  }
}
