.more-advantages {
  background-color: @main-page-color;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.more-advantages__item {
  padding: 41px 41px 39px 69px;
}

.more-advantages__title {
  font-size: 18px;
  line-height: 26px;
  color: @subtitle-color;
  padding-top: 41px;
}

.more-advantages__description {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .more-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .more-advantages__item {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
  }

  .more-advantages__item:nth-of-type(2){
    order: 3
  }

  .more-advantages__item:nth-of-type(3){
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .more-advantages__item:nth-of-type(2){
    order: 3
  }

  .more-advantages__item:nth-of-type(3){
    order: 2;
  }
}
