.photos__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.photos__logo {
  padding-top: 50px;
  padding-bottom: 67px;
}

.photos__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.photos__description {
  font-size: 14px;
  line-height: 24px;
}
