body {
  font-family: @font;
  text-transform: uppercase;
  list-style: none;
  text-align: center;

  p {
    color: @regular-text;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  li {
    list-style: none;
  }
}

@media (min-width: @desktop-width) {
  .page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  }

}
